<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      form {
        margin-top: 20px;
      }

      .error-message {
        color: red;
        margin-top: 10px;
      }

      button {
        background-color: green;
        color: white;
        padding: 8px 12px;
        border: none;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>Weather App</h1>

    <form method="post">
      <label for="city">Enter city name:</label>
      <input type="text" id="city" name="city" required />
      <button type="submit">Get Weather</button>
    </form>

    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %} {% if city %}
    <h2>Weather in {{ city }}</h2>
    <p>Temperature: {{ temperature }}°C</p>
    <p>Wind Speed: {{ wind_speed }} m/s</p>
    <p>Description: {{ description }}</p>
    {% endif %}

    <!-- Add your social media link here -->
    <p>
      Follow me on
      <a href="https://github.com/MykhailoHalchenko" target="_blank"
        >Social Media</a
      >
    </p>
  </body>
</html>
